[submodule "Configurations"]
	path = Configurations
	url = https://github.com/MarlinFirmware/Configurations
	ignore = dirty
[submodule "Marlin"]
	path = Marlin
	url = https://github.com/oltdaniel/Marlin
	ignore = dirty
